.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}
.repos .card .card-title {
  padding: 0;
  font-weight: bold;
}
.repos {
  width: 100%;
}
.repos .card {
  margin: auto;
  transition: 0.5s all ease;
}
.repos .card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2) !important;
}

@media only screen and (max-width: 1400px) {
  .container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .skill {
    max-width: 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media only screen and (max-width: 800px) {
  .container-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
