.container-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-gap: 25px;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill h5 {
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 968px) {
  .container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .skill {
    max-width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .skill {
    max-width: 230px;
  }
}
