.container-grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  grid-gap: 25px;
  width: 80%;
}
.skill {
  margin: auto;
}

.skill h5 {
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 968px) {
  .container-grid1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .skill {
    max-width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .container-grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .skill {
    max-width: 230px;
    margin: auto;
  }
}
@media only screen and (min-width: 2200px) {
  .container-grid1 {
    grid-template-columns: repeat(8, 1fr);
  }
  .skill {
    width: 150px;
  }
  .container {
    max-width: 80%;
  }
}
@media only screen and (min-width: 2560px) {
  .skill {
    width: 200px;
  }
}
